@using EntityLayer.Concrete
@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="card">
        <h5 class="card-header">Yorumlar</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kullanıcı</th>
                        <th>Yorum</th>
                        <th>Tarih</th>
                        <th>Rota</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {


                        <tr>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.CommentId</strong></td>
                            <td>@item.CUser</td>
                            <td>@item.Content</td>
                            <td>
                                @(((DateTime)item.CDate).ToString("dd-MMM-yyyy"))
                            </td>
                            <td>
                                @item.Destination.City
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded "></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/Admin/Comment/DeleteComment/@item.CommentId"><i class="bx bx-trash me-2"></i> Sil</a>
                                        <a class="dropdown-item" href="/Admin/Comment/UpdateComment/@item.CommentId"><i class="bx bx-edit-alt me-2"></i> Güncelle</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
      
    </div>
</div>